::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

main {
  view-transition-name: main-transition;
}

::view-transition-old(main-transition),
::view-transition-new(main-transition) {
  opacity: 1;
}
