::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

::view-transition-old(main-transition),
::view-transition-new(main-transition) {
  opacity: 1;
}
